body{
    background-image: url(../img/f.jpeg)
}
.topnav{
background-color: white;
padding:30px;letter-spacing: 2px;
justify-content: space-around;
display: flex;
width: 100%;height: 50%;
color: black;
font-weight: bold;
}
.topnav-right{
    text-align: right;
}